@model List<mathsociety.Models.Announcement>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (Model != null && Model.Any())
    {
        @foreach (var item in Model)
        {
            @Html.DisplayFor(modelItem => item.Title)
            @Html.DisplayFor(modelItem => item.Date)
        }
    }
    else
    {
        <p>No announcements to display</p>
    }
</div>